* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 600vh;
    font-family: "Notch Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sticky {
    background-color: #331707;
    color: #ffe9d9;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #cdb9ab;
    color: #331707
}

/* Logo Styles */
.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 24px;
    z-index: 2;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col:nth-child(2) {
    gap: 24px;
}

.block {
    width: 35px;
    height: 35px;
    background-color: #ffe9d9;
}

.block-1 {
    transform: rotate(42deg);
    transform-origin: bottom right;
}

.block-5 {
    transform: rotate(-42deg);
    transform-origin: bottom left;
}

/* 3D Cube Styles */
.cubes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
    pointer-events: none;
}

.cube {
    position: absolute;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    /* Initial state: hidden/far away */
    opacity: 0;
}

.cube>div {
    position: absolute;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    backface-visibility: visible;
    border: 1px solid rgba(255, 233, 217, 0.1);
}

/* Cube Faces */
.front {
    transform: translateZ(75px);
}

.back {
    transform: translateZ(-75px) rotateY(180deg);
}

.right {
    transform: translateX(75px) rotateY(90deg);
}

.left {
    transform: translateX(-75px) rotateY(-90deg);
}

.top {
    transform: translateY(-75px) rotateX(90deg);
}

.bottom {
    transform: translateY(75px) rotateX(-90deg);
}

/* Text Styles */
.header-1 {
    width: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffe9d9;
    z-index: 1;
}

.header-1 h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
}

.header-2 {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffe9d9;
    opacity: 0;
    z-index: 1;
}

.header-2 h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.header-2 p {
    font-size: 1.25rem;
    font-weight: lighter;
}

/* Lenis Styles */
.lenis.lenis-smooth[data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}