@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #e3e3db;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-img {
    position: relative;
    width: 700px;
    height: 500px;
    overflow: hidden;
}

.hover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}


.grid-block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #e3e3db;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
}


.grid-block.active {
    opacity: 1;
}