@import "tailwindcss";

:root {
  --bg: #1a1a1a;
  --fd: #edf1e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --fd: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fd);
  font-family: Arial, Helvetica, sans-serif;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1{
  font-size:  7rem;
  font-weight:  800;
  letter-spacing: -0.3rem;
  line-height: 1.1;
}


p{
  font-size: 1.12rem;
  font-weight: 500;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--bg);
  color: var(--fd);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  p{
    font-size: 1rem;
    
  }
}